<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color: pink;">
	
	<form  action="showemployee" method="post" >
	<table border="2" class="center">
		<tr>
		<th>Employee Name:</th>
		<td><input type="text" name="empname"/></td>
		</tr>
		<tr>
		<th>Employee Address:</th>
		<td><input type="text" name="empaddress"/></td>
		</tr>
		<tr>
		<th>Employee Phone:</th>
		<td><input type="number" name="empphone"/></td>
		</tr>
		<tr>
		<th>Employee Salary:</th>
		<td><input type="number" name="empsalary"/></td>
		</tr>
		<tr>
			<td><button type="submit" >Save</button></td>
			<td><button type="reset">ReSet</button></td>
		</tr>
		
		
	</table>
	</form>

</body>
</html>
<style>
	.center {
  margin-left: auto;
  margin-right: auto;
}
</style>