<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Insert title here</title>
 
</head>
<body>
	
<h2>
 Welcome to Employee Management System
</h2>

<h2 style="text-align: centre ;"><a href="employeepage">click_here_to_go_to_EmployeePage</a></h2>
</body>
</html>

<style>
h2{
	text-align: center;
	color: brown;
}

a:link, a:visited {
  background-color: rgb(0, 255, 255);
  color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:rgb(255, 0, 0);
}
</style>